<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
 <title>Upload Documents</title>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script>
	 function noImage(){
		 var imgInput = document.getElementById("image");
		 var file = imgInput.files[0];
		 if(!file)
		 {
			 alert("No file has been selected. Please choose an image to upload");
			 return false;
		 }
		 if(file && !file.type.startsWith("image/"))
		 {
			 alert("Invalid Image Type. Please choose files with a .jpeg or .png extension");
			 return false;
		 }
		 event.preventDefault(); 
		 var form = document.getElementById("myForm");
    	 var fieldValue = document.getElementById("id").value;
    	 console.log(fieldValue);
    	 form.action = "/kyc/savePoi/" + fieldValue;
    	 form.submit();
	 
	};
	function f(){
		console.log(window.location.pathname);
    	var pathVar = window.location.pathname.split('/').pop();
    	console.log(pathVar);
		document.getElementById('id').value = pathVar;
	};
 </script>
</head>
<body onload="f()">
	<form id="myForm" object="${kyc}" method="post" enctype="multipart/form-data" onsubmit="return noImage(event)">
		<input id="id" name="id" hidden>
		<label>Photo : </label>
		<input type="file" id="image" name="image" accept="image/png, image/jpeg" ><br><br>
		<button type="submit">Upload a photo</button>
	</form>
</body>
</body>
</html>